USE [master]
GO
/****** Object:  Database [RegionSelection]    Script Date: 2016/8/30 0:34:14 ******/
CREATE DATABASE [RegionSelection] ON  PRIMARY 
( NAME = N'city', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\city.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'city_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\city_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegionSelection].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegionSelection]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 2016/8/30 0:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[id] [bigint] NOT NULL,
	[display] [nvarchar](100) NULL,
	[name] [nvarchar](100) NULL,
	[parentId] [bigint] NULL,
	[shortName] [nvarchar](100) NULL,
	[type] [int] NULL,
 CONSTRAINT [PK_data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Region] ([id], [display], [name], [parentId], [shortName], [type]) VALUES (1, N'根节点', N'根节点', 0, N'根节点', 1)
INSERT [dbo].[Region] ([id], [display], [name], [parentId], [shortName], [type]) VALUES (110000, N'北京', N'北京', 1, N'北京', 2)
INSERT [dbo].[Region] ([id], [display], [name], [parentId], [shortName], [type]) VALUES (110100, N'北京', N'北京市', 110000, N'北京', 3)
GO
USE [master]
GO
